body{
    margin: 0px;
    padding: 0px;
}
/* .hero-section{
    width: 100%;
    height: 300px;
}


.action-container {
    width: 1537px;
    height: 50pxx;
    position: absolute;
    align-items: center;
    border-radius: 12px;
    background-color:black;
  }

  */




